.broadcaster-report .stats .card {
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 5px 0px rgba(123, 122, 122, 0.6);
    margin: 0px 2rem;
}
.broadcaster-report .stats .card .card-header h5 {
    top: 0.5rem; 
    margin: 0px 5rem;
}
.broadcaster-report .stats .card .card-header h5 .material-icons {
    font-size: 30px;
    height: 11px;
    width: 11px;
    margin-right: 25px;
    margin-top: 6px;
    top: 9px;
    position: relative;
}
.broadcaster-report .stats .card .card-header h5 span {
    font-size: 14px !important;
}
.dashboard_pies .pie_legend {
    font-size: 11px;
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
    color: #6b757d;
    font-weight: 500;
}

.dashboard_pies > div {
    float: left;
    margin-bottom: 0px;
    padding: 0px;
}
.broadcaster-report .stats .card .card-footer span {
    font-size: 12px;
}
.broadcaster-report .stats .custom-card-group {
    background: transparent;
    border: none;
    box-shadow: none;
}
.broadcaster-report .stats .custom-card-group .card-body {
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 5px 0px rgba(123, 122, 122, 0.6);
}
.broadcaster-report .stats .custom-card-group .card-body span {
    font-size: 12px;
}
.broadcaster-report .chart-view .filter .SumoSelect {
    width: 100%;
}
.broadcaster-report .chart-view .filter .SumoSelect .SelectBox {
    padding: 11px 8px;
}
.broadcaster-report .chart-view .filter .SumoSelect>.CaptionCont {
    position: relative;
    border: 1px solid #ddd;
    min-height: 14px;
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    margin: 0;
}
.broadcaster-report .chart-view .filter .SumoSelect>.CaptionCont>span.placeholder {
    font-style: normal;
    font-size: 14px;
}
.broadcaster-report .chart-view .filter .SumoSelect .select-all {
    height: 38px;
}
.broadcaster-report .chart-view .filter .SumoSelect>.optWrapper>.options li label {
    font-size: 13px;
}
.broadcaster-report .chart-view .filter .SumoSelect>.CaptionCont>span {
    font-size: 13px;
}
.broadcaster-report .chart-view .chart-toggle .btn .material-icons {
    height: 11px;
    width: 11px;
    margin-right: 13px;
    top: 5px;
    position: relative;
}
.broadcaster-report .chart-view .chart-toggle .inactive-toggle {
    background: #fff !important;
    color: #afacac !important;
}
.broadcaster-report .chart-view .chart-toggle .inactive-toggle .material-icons {
    color: #afacac !important;
}

.swal2-content {
    color: #fff !important;
    padding: 0.7rem !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.suggestion-graph .graph-days.nav.nav-tabs {
    border-bottom: none !important;
}

.suggestion-graph .graph-days.nav.nav-tabs .nav-link {
    border: 1px solid #44c1c9;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.suggestion-graph .graph-days.nav.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #44c1c9;
    border-color: #dee2e6 #dee2e6 #f5f8fa;
}

.suggestion-graph .graph-days.nav.nav-tabs button:focus {
    outline: none;
}

.media-asset-management .modal {
    display: none;
    vertical-align: unset !important;
    position: fixed !important;
    z-index: 1050 !important;
    max-width: 100% !important;
    box-sizing: unset !important;
    width: 100% !important;
    background: none !important;
    padding: unset !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    box-shadow: none !important;
    text-align: left;
}

.media-asset-management .v-datatable thead th.column {
    position: relative !important;
    float: none !important;
    display: table-cell !important;
    padding-top: 21px !important;
}

.media-asset-management .v-datatable thead .v-datatable__progress th.column {
    padding-top: 0px !important;
}

.v-datatable thead th.column {
    position: relative !important;
    float: none !important;
    display: table-cell !important;
    padding-top: 21px !important;
}

.v-datatable thead .v-datatable__progress th.column {
    padding-top: 0px !important;
}

.v-text-field input {
    border: none;
}

.default-vue-link {
    color: #44C1C9 !important;
}
.default-vue-btn {
    color: #fff;
    cursor: pointer;
    background: #44C1C9 !important;
    -webkit-appearance: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: 0;
    font-size: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
    -moz-box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
    box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
/* Override default vuetify ul tag style that is affecting the alignment of the side nav */
.side_nav ._nav ul {
    padding-left: 0px;
}

.application--wrap {
    min-height: 0% !important;
}

.application--wrap .tab_content {
    min-height: 0px;
}

.dsp-dashboard .highcharts-root {
    width: 100%;
    height: 100px;
}

.dsp-dashboard .pie_icon {
    height: 20px !important;
}