
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, select, footer, header, section { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  font-size: 100%; 
  vertical-align: baseline; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;  
}

li, a {
  list-style: none; 
  text-decoration: none;
  color: inherit;
}

input, a {
    outline: none;
}

a {
    color: #44C1C9;
}

/* Responsive Resets --------------------------- */

@-o-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

html {
    overflow-y: auto;
}

img,
audio,
video,
canvas {
    max-width: 100%;
    display: block;
}

.m-b {
    margin-bottom: 10px;
}

.mb {
    margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}
.mt4 {
  margin-top: 40px;
}
.mt2 {
  margin-top: 20px;
}
.mbl {
  margin-left: 20px;
}

.mbr {
  margin-right: 20px;
}


.p-t {
  padding-top: 10px;
}

.pt {
  padding-top: 20px;
}

.pt3 {
  padding-top: 30px;
}

.pt4 {
  padding-top: 40px !important;
}

.padd {
  padding-left: 30px;
  padding-right: 30px;
}

.left { 
    float: left !important;
}

.right { 
    float: right !important; 
}

.right.no_right_margin {
    margin-right: 0 !important;
    border-right: 0;
}

.left.no_left_margin {
    margin-left: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

.no_border {
  border: 0 !important;
}

.hidden {
    display: none !important;
}

.relative_position {
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

tr {
  background: #fff !important;
}

th {
  font-size: 14px;
  font-weight: 500;
  background: #fafafa;
  color: rgba(0,0,0,0.87);
  text-align: left;
  padding: 15px;
  padding-top: 20px;
  border: 0;

  -moz-box-shadow: inset 0 1px 0 0 rgba(221,221,221,0.5), inset 0 -1px 0 0 rgba(221,221,221,0.5);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(221,221,221,0.5), inset 0 -1px 0 0 rgba(221,221,221,0.5);
  box-shadow: inset 0 1px 0 0 rgba(221,221,221,0.5), inset 0 -1px 0 0 rgba(221,221,221,0.5);
}

td {
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  padding: 12px 15px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: middle;
}

.under {
    border-bottom: 1px solid;
}

.no_record {
  min-height: 300px;
}

.no_record:before {
  content: url(../img/no_saved.svg);
  height: 90px;
  width: 90px;
  margin-bottom: 20px;
  display: inline-block;
}


.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.margin_center {
  margin-left: auto;
  margin-right: auto;
}

.block_disp {
    display: block;
}

.weight_light {
    font-weight: 300;
}
.weight_regular {
    font-weight: 400;
}

.weight_medium {
    font-weight: 500;
}

.weight_bold {
    font-weight: 700;
}

.uppercased {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize !important;
}

.ital {
  font-style: oblique;
}

.color_trans {
  color: transparent;
}

.color_initial {
    color: #000;
}

.color_base {
    color: #44C1C9 !important;
}

.color_white {
    color: #fff !important;
}

.color_green {
    color: #93D4CC;
}

.color_yellow {
  color: #FFAB00;
}

.color_red {
  color: #D0021B !important;
}

.bk_white {
  background: #fff;
}

.back_initial {
  background: #443888;
}

.bk_grey {
  background: #f5f7f9;
}

.color_light {
  color: #8D8C92;
}

.btn, input[type="submit"], button.btn {
  padding: 7px 30px 5px;
  line-height: 2.5;
  color: #fff;
  cursor: pointer;
  background: #44C1C9;
  -webkit-appearance: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 0;
  font-size: 15px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  
  -webkit-box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
  -moz-box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
  box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);

  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.btn-disable {
  padding: 7px 30px 5px;
  line-height: 2.5;
  color: #fff;
  cursor: not-allowed;
  pointer-events: none;
  background: #44C1C9;
  -webkit-appearance: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 0;
  font-size: 15px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
  -moz-box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);
  box-shadow: 9px 10px 20px 1px rgba(0,159,160,0.21);

  position: relative;
  display: inline-block;
  text-transform: uppercase;
}



.btn.small_btn {
  padding: 3px 20px 0;
  font-size: 14px;
}

.btn.full {
  width: 100%;
}

.btn._white {
  color: #000;
  background: #fff;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.05);
}

button.btn {
  width: auto;
}

.btn:hover, input[type="submit"]:hover {
    opacity: 0.95;
}

.small_font {
  font-size: 13px;
}

.light_font {
  opacity: 0.7;
}

.image_wrap {
  position: relative;
  overflow: hidden;
  display: block;
}

.image_wrap img {
  display: block;
  width: 100%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea, input[type="number"], select {
  border: 1px solid #ddd;
  height: 40px;
  width: 100%;
  padding: 8px 10px 5px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  color: #3C3B42;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
  border-color: rgba(0,0,0,0.3);
  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  transition: border 1s;
}

textarea {
  min-height: 100px;
  resize: none;
  padding: .7em;
}

.span_state {
  padding: 4px 7px 2px;
  display: inline-block;
  font-size: 13px;
  border-radius: 2px;
}

.status_plain {
  background: transparent;
  border-color: #3C3B42;
}

.status_success {
  color: #52b266;
  background: rgba(24,202,0,0.15);
}

.status_danger {
  color: #D0021B;
  background: rgba(208,2,27,0.15);
}

.status_pending {
  color: #FFAB00;
  background: rgba(255,171,0, 0.15);
}

.status_on_hold {
  color: black;
  background: rgb(255,255,0);
}



.file_select {
  border: 1px solid #ddd;
  position: relative;
}

.file_select input {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.file_select .icon {
  padding-top: 12px;
  padding-left: 15px;
  display: inline-block;
  font-size: 90%;
}

.select_wrap select {
  background: #fff;
  padding-left: 1em;
  margin-bottom: 0;
  outline: 0;
  box-shadow: 0 0 0;
  width: 100%;
  height: 3em;
}

.select_wrap {
  position: relative;
}

.select_wrap:before {
  position: absolute;
  right: 5px;
  top: -15px;
  height: 15px;
  width: 20px;
  font-size: 12px;
  opacity: 0.8;
  pointer-events: none;
  line-height: 3.5em !important;
  color: #606060;
  content: url(../img/dropdown.svg);
}

h1, h2, h3, h4 {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}


.spin::before{
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

@-webkit-keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

@-ms-keyframes "spin" {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

@-o-keyframes "spin" {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}


/* Grid > 6 Column Mobile First
-------------------------------------------------------------- */

.column {
  position: relative;
  float: left;
  display: block;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}


.column + .column {
    margin-left: 1.6%;
}

.col_1 {
    width: 6.86666666667%;
}

.col_2 {
    width: 15.3333333333%;
}

.col_3 {
    width: 23.8%;
}

.col_4 {
    width: 32.2666666667%;
}

.col_5 {
    width: 40.7333333333%;
}

.col_6 {
    width: 49.2%;
}

.col_7 {
    width: 57.6666666667%;
}

.col_8 {
    width: 66.1333333333%;
}

.col_9 {
    width: 74.6%;
}

.col_10 {
    width: 83.0666666667%;
}

.col_11 {
    width: 91.5333333333%;
}

.col_12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 580px) {
    .col_1, 
    .col_2, 
    .col_3, 
    .col_4, 
    .col_5, 
    .col_6, 
    .col_7, 
    .col_8, 
    .col_9, 
    .col_10, 
    .col_11, 
    .col_12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
}


/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
For best results, use your favorite clearfix here.
-------------------------------------------------------------- */

.clearfix:after {
  display: block;
  content: "";
  height: 1px;
  visibility: hidden;
  clear: both;
}

.clear {
    clear: both;
}

/* Layout
-------------------------------------------------------------- */
.container {
  width: 90%;
  max-width: 881px;
  margin: 0 auto;
}

body {
  font: 400 16px/1.4 'Roboto', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Modal
-------------------------------------------------------------- */

#simplemodal-overlay {
    background-color: #000; 
}

#simplemodal-container a.modalCloseImg, .go_back_login {
  width: 20px; 
  height: 20px; 
  display: block; 
  z-index: 3200; 
  position: absolute; 
  top: 20px; 
  right: 10px; 
  cursor: pointer;
  color: #999;
  background: url(../img/close.svg) no-repeat;
}

.modal_contain {
    width: 480px;
    background: #fff;
    display: none;
    padding: 40px;
    border-radius: 2px;
}

.modal_contain.wide {
  width: 800px;
}


.create_check input[type=checkbox], .create_payment input[type=radio], .time_slots input[type="checkbox"] { 
    display: none; 
} 

.create_check input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.create_check input[type=checkbox]:checked + label {
    border: 1px solid #ECF1F1;
    color: rgba(0,0,0,0.9);
    font-weight: 500;
    background: #ECF1F1;
}

.create_check input[type=checkbox] + label:before {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
}

.create_check input[type=checkbox]:checked + label:before { 
    background: url('../img/check_active.svg') no-repeat center;
    background-size: contain; 
} 


.create_payment input[type=radio] + label {
    cursor: pointer;
    position: relative;
    padding: 20px;
    border-radius: 2px;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    color: rgba(0,0,0,0.9);
    font-size: 120%;
}

.create_payment input[type=radio]:checked + label {
    border: 1px solid #44C1C9;
    color: #fff;
    background: #44C1C9;
}

.time_slots input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    padding: 2px 4px;
    border-radius: 2px;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.time_slots input[type=checkbox]:checked + label {
    border: 1px solid #44C1C9;
    color: #44C1C9;
    font-weight: 500;
}



::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", sans-serif;
    color: #BDBDBD;
}

:-moz-placeholder { /* older Firefox*/
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #BDBDBD;
}

::-moz-placeholder { /* Firefox 19+ */ 
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #BDBDBD;
} 

:-ms-input-placeholder { 
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #BDBDBD;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset !important;
}

/* helpers */
.bg_red {
  background: #f44336 !important;
}
.hover {
  cursor: pointer;
}
.w10 {
  width: 10%;
}
.mr-4 {
  margin-right: 40px;
}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.mshadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* Responsive table */
.horiz-scroll {
  overflow: auto;
  overflow-x: auto;
  white-space: nowrap;
}
.table-scroll {
	position:relative;
  max-width: 100%;
	margin:auto;
	overflow:hidden;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width: 100%;
	margin: auto;
	/* border-collapse: separate; */
	 border-spacing: 1; 
}
.table-scroll th {
  background: #fafafa;
}
.table-scroll td {
  background:#fff;
}
.table-scroll th, .table-scroll td {
	padding: 10px 10px;
  width: 10px;
	white-space:nowrap;
	/* vertical-align:top; */
}
#last-fixed {
  /*border-right: 1px solid grey;*/
}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
	color:red;
}
.clone .fixed-side {
  /* border:1px solid #000; */
	/* background:#eee; */
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}

/* custom */
.revealer {
  cursor: pointer;
}
.disabled_input {
  background: #CFD8DC !important;
  cursor: not-allowed;
}
.scroll-y {
  max-height: 500px;
  overflow-y: scroll;
}
.fixed-headers {
  table-layout: fixed;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background: #ECEFF1 !important;
}
#back_btn {
  width: 25%;
  background: #607D8B !important;
  padding: 5px;
  box-shadow: 9px 10px 20px 1px rgba(103,131,144,0.21)
}
.back_btn {
  /*width: 25%;*/
  background: #607D8B !important;
  padding: 5px;
  box-shadow: 9px 10px 20px 1px rgba(103,131,144,0.21);
}
#mpo_filters {
  padding: 5px 15px;
  width: 30%;
}
#save_progress {
  padding: 5px 15px;
  width: 30%;
}
.plus-btn {
  border: 0;
  border-radius: 5px;
}
#filter-btn {
  margin-top: 23px;
}
.filter-btn {
  padding: 4px;
  width: 70%;
  border: 0;
  color: #fff;
  font-size: 15px;
  background: #607D8B;
  border-radius: 3px;
}
.plus-btn:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/* animations */
@keyframes highlight {
  0% {
    background: #ffff99 !important; /* lovely yellow colour */
  }
  100% {
    background: none;
  }
}
.highlight {
  animation: highlight 5s;
}

