
html, body {
	height: 100%;
	background: #FAFAFA;
}

.login_logo {
	width: 100px;
	margin: 81px auto 40px;
}

.auth_contain {
	border-top: 3px solid #44C1C9;
	background: #fff;
	padding: 70px;

	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
	box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
}

.auth_contain .align_center p {
	opacity: 0.6;
}

.auth_input {
	border: 1px solid #ddd;
	border-radius: 2px;
}

.auth_input input {
	font-size: 17px;
	text-align: center;
	height: 55px;
	padding: 10px 0;
	border: 0;
}

.auth_input input[type="password"] {
	border-top: 1px solid #ddd;
	border-radius: 0;
}

.remember_box {
	font-size: 15px;
}

.remember_box label {
	opacity: 0.5;
}

.small_faint {
	font-size: 14px;
	opacity: 0.5;
	color: #222;
}

.side_nav {
	width: 245px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-top: 33px;
	padding-left: 32px;
}

.side_nav .logo {
	height: 20px;
}

.side_nav .logo img {
	height: 100%;
	width: auto;
	max-width: none;
}

._nav li {
	font-size: 14px;
	padding: 10px 0;
	padding-left: 32px;
	position: relative;
}

._nav li:before, .header_search:before {
	content: "";
	height: 18px;
	width: 18px;
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	opacity: 0.8;
}

._nav li a {
	color: #585858;
	font-weight: 500;
}

._nav li.active a {
	color: #00C4CA;
}

._nav span {
	font-size: 13px;
	display: block;
	margin-top: 30px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

._nav_button {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	padding: 0 20px;
}

.main_contain {
	margin-left: 270px;
	margin-right: 30px;
}

.header {
	padding-top: 23px;
}

.header_search {
	position: relative;
}

.header_search:before {
	height: 18px;
	width: 18px;
	left: 15px;
	top: 8px;
}

.header_search input {
	border-radius: 40px;
	-moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.014), 0 2px 2px 0 rgba(0,0,0,0.14);
	-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.014), 0 2px 2px 0 rgba(0,0,0,0.14);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.014), 0 2px 2px 0 rgba(0,0,0,0.14);

	height: 35px;
	padding-left: 40px;

	border-color: #f1f1f1;
}

h2.sub_header {
	font-weight: 500;
}

.avatar_icon, .notif_icon {
	height: 22px;
	width: 22px;
	margin-left: 25px;
	display: block;
	float: right;
	background: url(../img/avatar_icon.svg) no-repeat;
}

.notif_icon {
	background: url(../img/notif_icon.svg) no-repeat;
	position: relative;
	cursor: pointer;
}

.notif_icon span {
	background: #D0021B;
	color: #fff;
	font-size: 10px;
	height: 14px;
	width: 14px;
	display: block;
	position: absolute;
	top: -2px;
	right: 0px;
	border-radius: 30px;
	text-align: center;
	padding-top: 1px;
}

.the_frame {
	background: #fff;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
	box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
}

.border_bottom {
	border-bottom: 1px solid #e8e8e8;
}

.the_stats > .column {
	padding: 20px 30px;
	border-right: 1px solid #e8e8e8;
	margin-bottom: -1px;
}

.the_stats h3 {
	font-size: 32px;
	font-size: 30px;
	font-weight: 500;
}

.the_stats .active h3 {
	color: #00C4CA;
}

.the_stats .active_fill {
	background: #00C4CA;
	color: #fff;
}

.the_stats .active_fill span {
	color: rgba(255,255,255,0.7);
	opacity: 1;
}

.the_stats .active_fill h3 {
	color: #fff;
}

._table_item {
	padding: 20px 0 16px;
	/*margin-bottom: 16px;*/
	font-weight: 500;
}

._table_item > div {
	height: 48px;
	display: flex;
	align-items: center;
	font-size: 15px;
}

._table_item > div:first-child {
	display: block;
}

._table_item > div:first-child span.small_faint {
	font-weight: 400;
	font-size: 14px;
}

.client_ava {
	width: 48px;
	height: 48px;
	border: 1px solid #ddd;
	border-radius: 50px;
	display: block;
	float: left;
	margin-right: 12px;
	position: relative;
	overflow: hidden;
}

.more_icon {
	height: 22px;
	width: 18px;
	background: url(../img/more.svg) no-repeat;
	display: block;
	cursor: pointer;
}

.list_more {
	position: relative;
}

.more_more {
	position: absolute;
	top: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #eee;
	z-index: 9;
	visibility: hidden;
	width: 100px;
	right: -15px;
	box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.08);
	padding: 10px 15px 0;
}

.more_more a {
	display: block;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 10px;
}

.list_more:hover > .more_more {
	visibility: visible;
}

.tab_header a {
	padding: 12px 30px;
	color: inherit;
	font-weight: 500;
	display: inline-block;
	border-right: 1px solid #e8e8e8;
	text-transform: uppercase;
	display: block;
	float: left;
	margin-bottom: -2px;
	font-size: 14px;
}

.tab_header a.active {
	color: #fff;
	background: #00C4CA;
}

.tab_content {
	min-height: 350px;
}

.empty_state {
	text-align: center;
	margin-top: 150px;
	text-transform: capitalize;
}

.similar_table {
	min-height: 350px;
}

.small_btn ._plus {
	height: 11px;
	width: 11px;
	margin-right: 10px;
	margin-top: 6px;
	background-size: contain;
}

#new_client .file_select {
	height: 70px;
}


/* datatables */

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	color: inherit;
}

.dataTables_wrapper .dataTables_info {
	padding-left: 30px;
	color: rgba(0,0,0,0.5);
	font-size: 13px;
}


/*** icons ***/

._nav li.campaign_icon:before {
	content: url(../img/campaign_icon.svg);
}

._nav li.dash_icon:before {
	content: url(../img/dashboard.svg);
}

._nav li.report_icon:before {
	content: url(../img/report_icon.svg);
}

._nav li.invoice_icon:before {
	content: url(../img/invoice_icon.svg);
}

._nav li.wallet_icon:before {
	content: url(../img/wallet_icon.svg);
}

._nav li.settings_icon:before {
	content: url(../img/settings_icon.svg);
}

._nav li.clients_icon:before {
	content: url(../img/client_icon.svg);
}

._nav li.discount_icon:before {
	content: url(../img/discount.svg);
}

.header_search:before {
	content: url(../img/search_icon.svg);
	opacity: 0.4;
}


._nav li.active.discount_icon:before {
	content: url(../img/discount_active.svg);
}

._nav li.active.campaign_icon:before {
	content: url(../img/campaign_active.svg);
}

._nav li.active.dash_icon:before {
	content: url(../img/dashboard_active.svg);
}

._nav li.active.report_icon:before {
	content: url(../img/report_active.svg);
}

._nav li.active.invoice_icon:before {
	content: url(../img/invoice_active.svg);
}

._nav li.active.wallet_icon:before {
	content: url(../img/wallet_active.svg);
}

._nav li.active.settings_icon:before {
	content: url(../img/settings_active.svg);
}

._nav li.active.clients_icon:before {
	content: url(../img/client_active.svg);
}

._plus {
	background: url(../img/plus.svg) no-repeat;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	margin-right: 4px;
	margin-top: 10px;
}

.user_acct, .notif_side {
	position: relative;
}

.eliptic {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inner_nav a {
	display: block;
	margin-bottom: 10px;
}

.inner_nav, .notif_show {
	text-align: left;
	position: absolute;
	top: 30px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #e8e8e8;
	z-index: 9;
	visibility: hidden;
	box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.08);
}

.inner_nav {
	width: 200px;
	right: -15px;
	padding-top: 10px;
}

.inner_nav:before, .notif_show:before {
	content: '';
	height: 0px;
	width: 0px;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid #fff;
	top: -8px;
	right: 15px;
	position: absolute;
}

.notif_show {
	width: 350px;
	padding: 20px;
	padding-bottom: 0;
	right: 35px;
	font-size: 14px;
}

.notif_show p {
	opacity: 0.6;
	margin-top: 3px;
}

.user_acct:hover > .inner_nav, .notif_side:hover > .notif_show {
	visibility: visible;
}

.inner_nav div, .inner_nav p {
	padding: 10px 20px;
}

.input_wrap {
	border-radius: 2px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.014), 0 2px 4px 0 rgba(0,0,0,0.14);
	border-top: 1px solid #f4f4f4;
	padding: 10px 15px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.input_wrap input, .input_wrap select {
	font-size: 16px;
	border: 0;
	padding: 0;
	height: 30px;
}

.client_charts {
	height: 632px;
	padding-right: 20px;
}

.back_icon {
	width: 30px;
	height: 30px;
	margin-right: 30px;
	margin-top: 10px;
	background: url(../img/back_arrow.svg) no-repeat;
}

.client_name, .client_personal > .column {
	padding: 15px 30px;
}

.filters {
	padding: 15px 30px 10px;
}

.chart_filters {
	padding-right: 0;
}

.filters select, .export_table {
	-moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12);
	border: 0;
}

.filters select {
	height: 34px;
}

.filters .select_wrap:before {
	content: url(../img/drop.svg);
}

.filters .header_search input {
	border-radius: 4px;
}

.filters .select_wrap:before {
	top: 0;
}

.export_table {
	display: inline-block;
	height: 34px;
	width: 34px;
	background: url(../img/export.svg) no-repeat center;
}

.client_personal > .column {
	border-left: 1px solid #e8e8e8;
}

.client_personal > .column:first-child {
	border: 0;
}

.date_filter a {
	color: rgba(0,0,0,0.5);
	font-size: 14px;
	font-weight: 500;
	margin-right: 20px;
	display: inline-block;
	padding-top: 10px;
}

.date_filter a.active {
	color: #44C1C9;
}

.view_brands {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.bread a, .bread span {
	padding: 5px 5px 0;
	display: inline-block;
}

.bread a:first-child {
	padding-left: 0;
}

.wallet_placer, #fund_wallet h2:before {
	height: 53px;
	width: 53px;
	background: rgba(0,196,202,0.1) url(../img/wallet_big_icon.svg) no-repeat center;
	border: 1px solid #eee;
	border-radius: 100px;
}

._header_div {
	border: 1px solid;
}

._header_div div {
	display: inline-block;
}


._header_div h2 {
	display: inline-block;
	border: 1px solid;
}

#fund_wallet h2:before {
	content: "";
	height: 43px;
	width: 43px;
	margin: 10px 10px -12px 0;
	display: inline-block;
}

.profile_hold {
	height: 120px;
	width: 120px;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
}

.dashboard_pies > div {
	width: 16.66%;
	padding: 30px 20px;
	float: left;
	margin-bottom: 50px;
}

.dashboard_pies > div:nth-child(odd) {
	background: #fff;
}

.pie_icon {
	text-align: center;
	height: 52px;
	margin-bottom: 12px;
}

.pie_icon img {
	display: inline-block;
	height: 100%;
	width: auto;
	max-width: none;
}

._pie_chart {
	height: 170px;
}

.dashboard_pies .pie_legend {
	font-size: 14px;
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
}

.dashboard_pies .pie_legend:before, .dashboard_pies .pie_legend:after {
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	left: 0;
	top: 1px;
	display: block;
	border-radius: 17px;
	background: #00C4CA;
}

.dashboard_pies .pie_legend:after {
	height: 6px;
	width: 6px;
	top: 6px;
	left: 5px;
	background: #fff;
}

.dashboard_pies .pie_legend.pending:before {
	background: #E89B0B;
}

.dashboard_pies .pie_legend.finished:before {
	background: #E8235F;
}

.table_nav {
	position: relative;
}

.table_nav span {
	border: 1px solid;
	display: block;
	height: 10px;
	width: 40px;
	color: red;
	cursor: pointer;
	position: relative;
}

.table_nav div {
	position: absolute;
	top: -30px;
	left: -75px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #eee;
	z-index: 9;
	visibility: hidden;
	padding: 15px;
	box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.08);
}

.table_nav > div a {
	display: block;
}

.table_nav > div:before {
	content: '';
	height: 0px;
	width: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #e8e8e8;
	top: 23px;
	right: -10px;
	position: absolute;
}

.table_nav:hover > div {
	visibility: visible;
}


.pager {
	text-align: center;
	margin-bottom: 50px;
}

.pager a {
	display: inline-block;
	height: 24px;
	width: 24px;
	border: 1px solid #ddd;
	color: rgba(0,0,0,0.5);
	font-size: 14px;
	padding-top: 3px;
}

.pager a.active {
	border-color: #00C4CA;
	background: #00C4CA;
	color: #fff;
}

.pager .next, .pager .prev {
	background: url(../img/right.svg) no-repeat center;
	padding-top: 6px;
	padding-left: 6px;
	text-align: center;
	margin-bottom: -6px;
}

.pager .prev {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.main_campaign_chart {
	height: 464px;
	padding: 20px;
}

.main_campaign_chart .filters {
	padding: 0;
}

._stat {
	padding: 20px;
}

._pie {
	height: 330px;
	padding: 20px;
}

.campaign_summary {
	padding: 50px;
}

.campaign_filter select {
	padding: 0;
	border: 0;
	font-weight: 500;
	color: #222;
	font-size: 16px;
	height: 40px;
}

.campaign_filter .select_wrap:before {
	top: 0;
}

.campaign_filter > .column {
	border: 0;
}

.tagcampaign_filters {
	padding-top: 15px;
}

.campaign_filter .small_faint {
	margin-bottom: 10px;
}

.tags span {
	background: #5281FE;
	color: #fff;
	font-size: 14px;
	padding: 4px 6px 3px;
	border-radius: 2px;
	display: inline-block;
	margin-bottom: 5px;
}

.tags span a {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	background: #fff;
	background: url(../img/close_white.svg) no-repeat;
	background-size: contain;
}


.border_top_color {
	border-top: 3px solid #44C1C9;
}

.create_fields .input_wrap {
	box-shadow: 0 0 0;
	border: 1px solid #ddd;
}

.create_check li:nth-child(3n+1) {
	margin-left: 0;
}


/** full invoice **/
.modal_contain.full_invoice {
	padding: 40px 30px 80px;
}

.full_invoice .logo {
	width: 65px;
}

.full_invoice {
	padding: 40px;
}

.full_invoice td {
	border: none;
}

.full_invoice tr:nth-child(odd) td {
	background: #FAFAFA;
}

._total_amount p {
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	padding: 12px 15px;
}

._total_amount p:first-child {
	border: 0;
	margin-left: 50%;
}

.close_red ._icon, ._proceed span, ._go_back span {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-bottom: -2px;
}

.close_red ._icon {
	background: url(../img/close_red.svg) no-repeat center;
	margin-right: 3px;
}

._proceed span {
	background: url(../img/arrow_white.svg) no-repeat center;
	margin-left: 3px;
}

._go_back span {
	background: url(../img/arrow.svg) no-repeat center;
	margin-right: 5px;
}

.modal_contain.payment_modal {
	padding: 0;
}

.payment_modal > h2 {
	padding: 25px 20px 20px;
}

.upload_block {
	border: 1px solid #d8d8d8;
	border-radius: 2px;
}

.upload_block > div {
	width: 50%;
	float: left;
	border-right: 1px solid #d8d8d8;
	padding: 20px;
	height: 101%;
	margin-bottom: -1px;
}

.upload_block > div._block_two {
	border: 0;
}

.dashed_upload {
	border: 1px dashed #d8d8d8;
	background: #F7F7F7;
	border-radius: 2px;
	height: 200px;
	position: relative;
}

.dashed_upload:before {
	content: url(../img/upload.svg);
	height: 32px;
	width: 32px;
	display: block;
	margin: 25% auto 0;
}

._block_one a {
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
}

.time_slots {
	border: 1px solid #d8d8d8;
	height: 250px;
	overflow: auto;
}

.one_media > div {
	box-shadow: 0 0 4px 2px rgba(0,0,0,0.05);
	margin-bottom: 3px;
	padding: 20px 30px;
	height: 100px;
	border-radius: 2px;
}

.one_media {
	width: 18%;
	float: left;
	margin-right: 2.5%;
	background: #fff;
	cursor: pointer;
}

.one_media:last-child {
	margin: 0;
}

.one_media.active > div {
	border: 1px solid #44C1C9;
	margin-bottom: 10px;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.one_media.active span.small_faint {
	opacity: 1;
}

.create_gauge {
	position: relative;
	margin-bottom: 100px;
}

._progress {
	float: left;
	border-top: 2px solid #dfdfdf;
	width: 33.3%;
	position: relative;
}

._progress:last-child {
	width: 0;
}

.one_point {
	border: 1px solid #ddd;
	height: 24px;
	width: 24px;
	border-radius: 30px;
	display: block;
	background: #fff;
	position: absolute;
	top: -13px;
	left: 0;
}

._progress:first-child .one_point:before, ._progress.active + ._progress .one_point:before {
	content: "";
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 11px;
	top: 50%;
	margin-top: -5px;
	left: 50%;
	margin-left: -5px;
	position: absolute;
}

._progress.active + ._progress:not(.active) .one_point:before {
	background: #44C1C9;
}

._progress.active .one_point, ._progress.active + ._progress .one_point, ._progress:first-child .one_point {
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12);
	border: 0;
}

._progress.active .one_point {
	background: #44C1C9;
	border-color: #44C1C9;
}

._progress.active {
	border-color: #44C1C9;
}

._progress.active > .one_point:before {
	content: "";
	background: url(../img/check_white.svg);
}

.time_slots td {
	border: 0;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.time_slots th {
	box-shadow: 0 0 0;
	padding: 12px 15px;
	border-bottom: 1px solid #ddd;
}

._campaign_mgt {
	font-size: 14px;
	padding-left: 10px;
	padding-right: 15px;
}


@media only screen and (max-width: 768px) {



}

@media only screen and (max-width: 580px) {

}


@media
(min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {




}
