.git
.idea
**/.git
**/.DS_Store
.DS_Store
.env
_ide_helper.php
Makefile
documentation
local_stuffs
.gitignore
app.dockerfile
*.md
docker-compose.yaml
buildspec.yml
100-php.ini
101-php-overrides.ini

public/dist/*
database/docker-entrypoint-initdb.d
database/sql

dev
node_modules
vendor

storage/excels/**
storage/logs/**
storage/app/**
storage/debugbar/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/framework/testing/**
bootstrap/cache/**
