.env
vendor
temp
tmp
html/web.config
.idea
.env
dev
get-pip.py
.DS_Store
storage/.DS_Store
storage/excels
.editorconfig
.gitattributes
resources/assets
resources/js
resources/sass
yarn-error.log
env.example
database/factories/UserFactory.php
storage/logs/
clean_default_db_for_test.sql
database/migrations/2018_09_01_081439_dump_old_table_to_prepare_migration.php
