.env
vendor
temp
tmp
html/web.config
.idea
.env
dev
get-pip.py
.DS_Store
public/.DS_Store
storage/.DS_Store
resources/.DS_Store
resources/views/.DS_Store
storage/excels/
storage/fonts/
.editorconfig
.gitattributes
yarn-error.log
env.example
storage/logs/
local_stuffs
node_modules
# package.json
/vendor
.env
.phpintel
/.phpintel
/public/.htaccess
/storage
storage/*.key
resources/assets/.DS_Store
app/.DS_Store

